In [1]:
import numpy as np
import pandas as pd

from keras.layers import Dense
from keras.models import Sequential

from sklearn.metrics import confusion_matrix

from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler

WARNING:tensorflow:From c:\Users\chris\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
url = 'https://drive.google.com/file/d/1DsIOeH7z4WeOipjsQZuxJ3TPt-KAN-pH/view'
url = 'https://drive.google.com/uc?id=' + url.split('/')[-2]

print(url)

https://drive.google.com/uc?id=1DsIOeH7z4WeOipjsQZuxJ3TPt-KAN-pH

In [3]:
dataset = pd.read_csv(url)

dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
for ind, col in enumerate(dataset.columns):
    print('{0} {1}'.format(ind, col))

0 RowNumber
1 CustomerId
2 Surname
3 CreditScore
4 Geography
5 Gender
6 Age
7 Tenure
8 Balance
9 NumOfProducts
10 HasCrCard
11 IsActiveMember
12 EstimatedSalary
13 Exited

In [5]:
X = dataset.iloc[:, 3:13].values
y= dataset.iloc[:, 13].values

In [6]:
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [7]:
lbl_encoder_1 = LabelEncoder()
X[:,1] = lbl_encoder_1.fit_transform(X[:,1])

lbl_encoder_2 = LabelEncoder()
X[:,2] = lbl_encoder_2.fit_transform(X[:,2])

In [8]:
pd.DataFrame(X)

        0  1  2   3   4          5  6  7  8          9
0     619  0  0  42   2        0.0  1  1  1  101348.88
1     608  2  0  41   1   83807.86  1  0  1  112542.58
2     502  0  0  42   8   159660.8  3  1  0  113931.57
3     699  0  0  39   1        0.0  2  0  0   93826.63
4     850  2  0  43   2  125510.82  1  1  1    79084.1
...   ... .. ..  ..  ..        ... .. .. ..        ...
9995  771  0  1  39   5        0.0  2  1  0   96270.64
9996  516  0  1  35  10   57369.61  1  1  1  101699.77
9997  709  0  0  36   7        0.0  1  0  1   42085.58
9998  772  1  1  42   3   75075.31  2  1  0   92888.52
9999  792  0  0  28   4  130142.79  1  1  0   38190.78

[10000 rows x 10 columns]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
len(X_train), len(X_test)

(8000, 2000)

In [10]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [11]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9
0,0.169582,1.519198,-1.091687,-0.464608,0.006661,-1.215717,0.809503,0.642595,-1.032270,1.106432
1,-2.304559,0.313126,0.916013,0.301026,-1.377440,-0.006312,-0.921591,0.642595,0.968738,-0.748664
2,-1.191196,-0.892945,-1.091687,-0.943129,-1.031415,0.579935,-0.921591,0.642595,-1.032270,1.485335
3,0.035566,1.519198,0.916013,0.109617,0.006661,0.473128,-0.921591,0.642595,-1.032270,1.276528
4,2.056114,1.519198,-1.091687,1.736588,1.044737,0.810193,0.809503,0.642595,0.968738,0.558378
...,...,...,...,...,...,...,...,...,...,...
7995,-0.582970,0.313126,-1.091687,-0.656016,-0.339364,0.703104,0.809503,0.642595,0.968738,1.091330
7996,1.478815,1.519198,-1.091687,-1.613058,-0.339364,0.613060,-0.921591,0.642595,0.968738,0.131760
7997,0.901515,-0.892945,0.916013,-0.368904,0.006661,1.361474,0.809503,0.642595,-1.032270,1.412320
7998,-0.624205,1.519198,-1.091687,-0.081791,1.390762,-1.215717,0.809503,0.642595,0.968738,0.844321
7999,-0.284011,0.313126,-1.091687,0.875251,-1.377440,0.511364,-0.921591,0.642595,-1.032270,0.324725

In [12]:
model = Sequential()

WARNING:tensorflow:From c:\Users\chris\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [13]:
model.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 10))

model.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))

model.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics =['accuracy'])

WARNING:tensorflow:From c:\Users\chris\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [14]:
model.fit(X_train, y_train, batch_size = 10, epochs = 100)

Epoch 1/100
WARNING:tensorflow:From c:\Users\chris\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\chris\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

800/800 [==============================] - 3s 2ms/step - loss: 0.4842 - accuracy: 0.7955
Epoch 2/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4340 - accuracy: 0.7960
Epoch 3/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4305 - accuracy: 0.7960
Epoch 4/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4252 - accuracy: 0.8126
Epoch 5/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4204 - accuracy: 0.8255
Epoch 6/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4157 - accuracy: 0.8315
Epoch 7/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4121 - accuracy: 0.8316
Epoch 8/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4084 - accuracy: 0.8341
Epoch 9/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4066 - accuracy: 0.8355
Epoch 10/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4040 - accuracy: 0.8349
Epoch 11/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4020 - accuracy: 0.8340
Epoch 12/100
800/800 [==============================] - 2s 3ms/step - loss: 0.4007 - accuracy: 0.8341
Epoch 13/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3997 - accuracy: 0.8360
Epoch 14/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3990 - accuracy: 0.8330
Epoch 15/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3984 - accuracy: 0.8353
Epoch 16/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3983 - accuracy: 0.8346
Epoch 17/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3977 - accuracy: 0.8345
Epoch 18/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3974 - accuracy: 0.8360
Epoch 19/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3967 - accuracy: 0.8346
Epoch 20/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3968 - accuracy: 0.8354
Epoch 21/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3968 - accuracy: 0.8359
Epoch 22/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3965 - accuracy: 0.8350
Epoch 23/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3966 - accuracy: 0.8353
Epoch 24/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3965 - accuracy: 0.8346
Epoch 25/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3959 - accuracy: 0.8350
Epoch 26/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3961 - accuracy: 0.8349
Epoch 27/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3961 - accuracy: 0.8361
Epoch 28/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3959 - accuracy: 0.8345
Epoch 29/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3958 - accuracy: 0.8347
Epoch 30/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3952 - accuracy: 0.8369
Epoch 31/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3955 - accuracy: 0.8372
Epoch 32/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3955 - accuracy: 0.8360
Epoch 33/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3950 - accuracy: 0.8365
Epoch 34/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3952 - accuracy: 0.8361
Epoch 35/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3950 - accuracy: 0.8364
Epoch 36/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3950 - accuracy: 0.8372
Epoch 37/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3952 - accuracy: 0.8364
Epoch 38/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3948 - accuracy: 0.8376
Epoch 39/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3947 - accuracy: 0.8363
Epoch 40/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3944 - accuracy: 0.8363
Epoch 41/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3944 - accuracy: 0.8379
Epoch 42/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3943 - accuracy: 0.8363
Epoch 43/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3942 - accuracy: 0.8366
Epoch 44/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3944 - accuracy: 0.8359
Epoch 45/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3940 - accuracy: 0.8364
Epoch 46/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3939 - accuracy: 0.8379
Epoch 47/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3945 - accuracy: 0.8355
Epoch 48/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3942 - accuracy: 0.8359
Epoch 49/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3941 - accuracy: 0.8355
Epoch 50/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3940 - accuracy: 0.8353
Epoch 51/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3937 - accuracy: 0.8374
Epoch 52/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3939 - accuracy: 0.8366
Epoch 53/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3937 - accuracy: 0.8370
Epoch 54/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3937 - accuracy: 0.8371
Epoch 55/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3934 - accuracy: 0.8372
Epoch 56/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3937 - accuracy: 0.8363
Epoch 57/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3933 - accuracy: 0.8371
Epoch 58/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3934 - accuracy: 0.8369
Epoch 59/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3936 - accuracy: 0.8379
Epoch 60/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3931 - accuracy: 0.8369
Epoch 61/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3933 - accuracy: 0.8385
Epoch 62/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3933 - accuracy: 0.8376
Epoch 63/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3936 - accuracy: 0.8366
Epoch 64/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3934 - accuracy: 0.8369
Epoch 65/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3934 - accuracy: 0.8374
Epoch 66/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3920 - accuracy: 0.8384
Epoch 67/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3936 - accuracy: 0.8386
Epoch 68/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3930 - accuracy: 0.8366
Epoch 69/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3932 - accuracy: 0.8378
Epoch 70/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3930 - accuracy: 0.8375
Epoch 71/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3934 - accuracy: 0.8381
Epoch 72/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3932 - accuracy: 0.8347
Epoch 73/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3929 - accuracy: 0.8384
Epoch 74/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3928 - accuracy: 0.8391
Epoch 75/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3931 - accuracy: 0.8370
Epoch 76/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3931 - accuracy: 0.8378
Epoch 77/100
800/800 [==============================] - 4s 5ms/step - loss: 0.3932 - accuracy: 0.8365
Epoch 78/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3930 - accuracy: 0.8395
Epoch 79/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3934 - accuracy: 0.8381
Epoch 80/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3929 - accuracy: 0.8380
Epoch 81/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3925 - accuracy: 0.8370
Epoch 82/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3929 - accuracy: 0.8375
Epoch 83/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3928 - accuracy: 0.8378
Epoch 84/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3923 - accuracy: 0.8361
Epoch 85/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3925 - accuracy: 0.8384
Epoch 86/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3926 - accuracy: 0.8394
Epoch 87/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3931 - accuracy: 0.8372
Epoch 88/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3928 - accuracy: 0.8356
Epoch 89/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3928 - accuracy: 0.8371
Epoch 90/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3927 - accuracy: 0.8371
Epoch 91/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3923 - accuracy: 0.8365
Epoch 92/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3931 - accuracy: 0.8370
Epoch 93/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3920 - accuracy: 0.8380
Epoch 94/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3930 - accuracy: 0.8369
Epoch 95/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3927 - accuracy: 0.8367
Epoch 96/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3926 - accuracy: 0.8390
Epoch 97/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3926 - accuracy: 0.8378
Epoch 98/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3921 - accuracy: 0.8379
Epoch 99/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3925 - accuracy: 0.8372
Epoch 100/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3922 - accuracy: 0.8397

In [15]:
y_pred = model.predict(X_test)

63/63 [==============================] - 0s 2ms/step

In [16]:
y_pred = (y_pred > 0.5)
y_pred = pd.DataFrame(y_pred)
y_pred.describe()

            0
count    2000
unique      2
top     False
freq     1805

In [17]:
scores = model.evaluate(X_test, y_test)

63/63 [==============================] - 1s 3ms/step - loss: 0.3925 - accuracy: 0.8440

In [18]:
print('%s is: %.2f%%' % (model.metrics_names[1], scores[1]*100))

accuracy is: 84.40%

In [19]:
model.metrics_names

['loss', 'accuracy']

In [20]:
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(cm)
cm_df.columns = ['Predicted No Exit', 'Predicted Exit']
cm_df.index = ['Actual No Exit', 'Actual Exit']

In [21]:
# How to identify which label will be there for the confusion matrix
from sklearn.utils.multiclass import unique_labels

labels = unique_labels(y_test, y_pred)
print(labels)

#0 is for No Exit, 1 for Exit

[0 1]

In [22]:
cm_df

                Predicted No Exit  Predicted Exit
Actual No Exit               1544              51
Actual Exit                   261             144